body {
    font-family: "Sora", sans-serif;
    text-align: left;
    margin: 50px;
}

#canvasWrapper {
    width: 80vw;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #333;
    background-color: #f8f8f8;
    margin-top: 20px;
}

#canvasWrapper canvas {
    display: block;
    width: 100%;
    height: auto;
}

#counter {
    font-size: 1.2em;
    margin-top: 10px;
}

#stats {
    display: flex;
    gap: 20px;
    font-size: 1.1em;
    margin-top: 10px;
}

.pi-letter {
    font-family: "Playfair Display", serif;  /* a classy contrast to Sora */
    font-weight: 700;
    font-size: 1.3em;   /* slightly larger so it stands out */
    margin-right: 7px;
}

#leftBand {
    position: fixed;
    left: 0;
    top: 0;
    width: 25px;
    height: 100vh;
    background: rgb(26, 40, 97);
}

.pageContent {
    margin-left: 20px;
}

#splashContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
}

.splashTitle {
    position: absolute;
    font-weight: 700;
    font-size: 3em;
    color: #2a376a;
    transform-origin: center center;
    text-align: center;
}

.splashSubtitle {
    position: absolute;
    font-weight: 400;
    font-size: 1.5em;
    color: #5a5a5a;
    text-align: center;
}

#github-link {
    position: fixed;   /* so it floats over the page */
    bottom: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    z-index: 1000;
}

#github-link img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease-in-out;
}
