body {
    font-family: "Sora", sans-serif;
    text-align: left;
    margin: 50px;
}

#canvasWrapper {
    width: 80vw;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #333;
    background-color: #f8f8f8;
    margin-top: 20px;
}

#canvasWrapper canvas {
    display: block;
    width: 100%;
    height: auto;
}

#counter {
    font-size: 1.2em;
    margin-top: 10px;
}

#stats {
    display: flex;
    gap: 20px;
    font-size: 1.1em;
    margin-top: 10px;
}

.pi-letter {
    font-family: "Playfair Display", serif;  /* a classy contrast to Sora */
    font-weight: 700;
    font-size: 1.3em;   /* slightly larger so it stands out */
    margin-right: 7px;
}

#leftBand {
    position: fixed;
    left: 0;
    top: 0;
    width: 25px;
    height: 100vh;
    background: rgb(26, 40, 97);
}

.pageContent {
    margin-left: 20px;
}

#splashContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splashTitle {
    font-family: 'Playfair Display', serif;
    font-size: 8vw;
    margin: 0;
    opacity: 0;
    text-align: center;
    animation: fadeInHoldFadeOut 4s forwards;
}

.splashSubtitle {
    font-family: 'Sora', sans-serif;
    font-size: 3vw;
    margin-top: 1em;
    opacity: 0;
    text-align: center;
    animation: fadeInHoldFadeOut 4s forwards;
    animation-delay: 0.2s;
}

@keyframes fadeInHoldFadeOut {
    0% { opacity: 0; transform: translateY(20px); }
    20% { opacity: 1; transform: translateY(0); }
    70% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-20px); }
}

#github-link {
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    z-index: 1000;
}

#github-link img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease-in-out;
}
